<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ViewSwitchingNavigation.Reports.Properties.Settings.SMConnectionString"
            connectionString="Data Source=ANAND-PC;Initial Catalog=SM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ViewSwitchingNavigation.Reports.Properties.Settings.SMConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=SM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>