<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <modules>
    <module assemblyFile="ViewSwitchingNavigation.Email.dll" moduleType="ViewSwitchingNavigation.Email.EmailModule, ViewSwitchingNavigation.Email, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EmailModule" startupLoaded="true"/>
    <module assemblyFile="ViewSwitchingNavigation.Configuration.dll" moduleType="ViewSwitchingNavigation.Configuration.ConfigurationModule, ViewSwitchingNavigation.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ConfigurationModule" startupLoaded="true"/>
    <module assemblyFile="ViewSwitchingNavigation.Reports.dll" moduleType="ViewSwitchingNavigation.Reports.ReportsModule, ViewSwitchingNavigation.Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ReportsModule" startupLoaded="true"/>
    <module assemblyFile="ViewSwitchingNavigation.ExpenseManagement.dll" moduleType="ViewSwitchingNavigation.ExpenseManagement.ExpenseManagementModule, ViewSwitchingNavigation.ExpenseManagement, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ExpenseManagementModule" startupLoaded="true"/>
    <module assemblyFile="ViewSwitchingNavigation.Exam.dll" moduleType="ViewSwitchingNavigation.Exam.ExamModule, ViewSwitchingNavigation.Exam, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ExamModule" startupLoaded="true"/>
  </modules>
</configuration>
