<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExpenseManagement.Properties.Settings.SMConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=SM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>